<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <time type="AccurateUTC" />

  <variable name="logSource" value="Compentio.Ankara.Database" />
  <targets async="true">
    <target type="Console" name="Console">
      <layout type="JsonLayout">
        <attribute name="severity" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exceptionType" layout="${exception:format=Type}" />
        <attribute name="exceptionMessage" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        <attribute name="sourceName" layout="${logSource}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>