<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogToConsole="true" >
  <!--internalLogFile="D:/LOGS/NLog/log.txt"-->

  <time type="AccurateUTC" />

  <variable name="logSource" value="Compentio.Ankara.Api" />
  
  <targets async="true">
    <target type="Console" name="Console">
      <layout type="JsonLayout">
        <attribute name="severity" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exceptionType" layout="${exception:format=Type}" />
        <attribute name="exceptionMessage" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        <attribute name="sourceName" layout="${logSource}" />
        <attribute name="userLogin" layout="${mdlc:item=UserLogin}" />
      </layout>
    </target>
    
    <target type="File" name="JsonFile" fileName="D:/LOGS/${logSource}/Ankara.${shortdate}.txt" archiveEvery="Day" archiveFileName="D:/LOGS/${logSource}/Ankara.${shortdate}.{###}.txt" archiveAboveSize="52428800">
      <layout type="JsonLayout">
        <attribute name="severity" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exceptionType" layout="${exception:format=Type}" />
        <attribute name="exceptionMessage" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        <attribute name="sourceName" layout="${logSource}" />
        <attribute name="userLogin" layout="${mdlc:item=UserLogin}" />
      </layout>
    </target>

    <target xsi:type="Database" name="Database">
      <connectionString>Data Source=localhost;Initial Catalog=ankara; User Id=ankaraUser; Password=*********</connectionString>
      <commandText>
        INSERT INTO [app].[Logs] ([Severity], [Message], [Timestamp], [Logger], [ExceptionType], [ExceptionMessage], [SourceName], [UserLogin])
        VALUES (@Severity, @Message, @Timestamp, @Logger, @ExceptionType, @ExceptionMessage, @SourceName, @UserLogin);
      </commandText>
      <parameter name="@Severity" layout="${level:upperCase=true}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Timestamp" layout="${date}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter  name="@exceptionType" layout="${exception:format=Type}" />
      <parameter  name="@exceptionMessage" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
      <parameter  name="@SourceName" layout="${logSource}" />
      <parameter  name="@UserLogin" layout="${mdlc:item=UserLogin}" />      
    </target>
    
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="Console" />
    <logger name="*" minlevel="Info" writeTo="JsonFile"/>
    <logger name="*" minlevel="Info" writeTo="Database"/>
  </rules>
</nlog>